<nav class="navbar"> <!-- Navbar -->
  <img src="/img/moraik.svg" alt="Mora IK logotyp" class="logo">
  <ul class="navbar-menu">
    <li class="nav-item">
      <a class="nav-link" href="/admin">Attendees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/game">Events</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/login">Logout</a>
    </li>
  </ul>
</nav>
