<div class="attendies-content">
  <h1>Event</h1>
  <table class="table-striped">
    <thead>
      <a class="nav-link" href="/admin/game/addEvent">Add Event</a>
      <tr>
        <th>Namn</th>
        <th>Datum</th>
        <th>Tid</th>
      </tr>
    </thead>
    <tbody>
      <% if (viewDataEvent?.length > 0) { %>
        <% viewDataEvent.forEach(event => { %>
          <tr>
            <td class="name-table">
              <%= event.eventName %>
            </td>
            <td class="company-table">
              <%= event.eventDate %>
            </td>
            <td class="customer-table">
              <%= event.eventTime %>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
  <% } else { %>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td>
            Inga event hittades.
          </td>
        </tr>
    </tbody>
  </table>
  <% } %>
</div>

