<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sharp Corner!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
        </li>
        <% if (typeof username === 'undefined') { %>
          <li class="nav-item">
            <a class="nav-link" href="./admin/login">Login</a>
          </li>
        <% } %>
        <% if (typeof username !== 'undefined') { %>  
          <li class="nav-item">
            <!-- <a class="nav-link" href="./snippets/create">Create snippet</a> -->
          </li>
        <li class="nav-item">
          <a class="nav-link" href="./admin/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./admin/adminAccount"></a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
