<header>
  <div class="wrapper">
    <a class="navbar-brand" href="./">Anmälningar</a>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="navbar-link" href="./">Home</a>
        </li>
        <% if (typeof loggedIn !== 'boolean') { %>
          <li class="navbar-item">
            <a class="navbar-link" href="./admin/login">Login</a>
          </li>
        <% } %>
        <% if (typeof loggedIn === 'boolean') { %>
          <li>
            <a class="navbar-link" href="./admin/attendees">Anmälningar</a>
          </li>
          <li>
            <a class="navbar-link" href="./admin/events">Events</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./admin/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
