<header>
  <div class="wrapper">
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="navbar-item">
        </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./admin/attendees"></a>
          </li>
          <li>
            <a class="navbar-link" href="./admin/attendees">Anmälningar</a>
          </li>
          <li>
            <a class="navbar-link" href="./admin/events">Events</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./admin/logout">Logout</a>
          </li>
      </ul>
    </nav>
  </div>
</header>
