<div class="moraik">
  <div>
    <img src="/public/img/moraik.png" alt="Moraik" />
  </div>
  <h1>
    Sharp Corner!
  </h1>
  <p>
    Welcome to the jungle! 
  </p>
  
  <!-- Form -->
  <form action="/submit_form" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    
    <label for="companyname">Company Name:</label><br>
    <input type="text" id="companyname" name="companyname"><br>
    
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    
    <label for="commentary">Commentary:</label><br>
    <textarea id="commentary" name="commentary" rows="4" cols="50"></textarea><br>
    
    <label for="amount">Number of People Attending:</label><br>
    <input type="number" id="amount" name="amount" min="1"><br>
    
    <label for="event">Event:</label><br>
    <input type="select" id="event" name="event" min="0" max="100"><br>
    
    <button class="button-submit" type="submit">Boka</button>
  </form>
</div>
