<h1>Login</h1>
<form class="row g-3" method="post" action="./admin/login">
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
      Username
    </label>
    <input type="text" class="form-control" id="loginInput" name="username"
      placeholder="Enter username" required="required" autofocus="autofocus" />
  </div>
  <div class="col-md-12">
    <label class="form-label" for="descriptionInput">
      Password
    </label>
    <input type="password" class="form-control" id="loginInput" name="password"
      placeholder="Enter password" required="required" autofocus="autofocus" />
  </div>
    <button type="submit" class="btn btn-primary" id="login-button">Login</button>
  </div>
</form>

